html, body {
    min-width: 300px; 
    min-height: 200px; 
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}



h1{
    justify-content: center;
    text-align: center;
    color: #007bff;
}

button{
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    color: #333;
    cursor: pointer;
}

#join-org{
    display:flex;
    gap: 10px;
}

#profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#profile-info {
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-details {
    display: flex;
    flex-direction: column;
}

#profile-name {
    font-size: 14px;
    font-weight: bold;
}

#profile-settings, #sign-in-out {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 5px;
}

#profile-settings:hover, #sign-out:hover {
    background-color: #0056b3;
    color: white;
}

#sign-in-up-form > *{
   margin: 10px;
}

#sign-in-up-form input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sign-in-up-form{
    display: flex;
    flex-direction: column;
}

button:hover{
    background-color: #0362c7;
}

button{
    background-color: #007bff;
    color:white;
}

#orgs {
    list-style-type: none;
    padding: 0;
}

#orgs li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

#orgs li:hover {
    background-color: #e0e0e0;
}

#orgs li.selected{
    background-color: #007bff;
    color: white;
}

#orgs li.selected::before {
    content: "\f00c"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 18px;
    color: rgb(0, 246, 0);
    margin-right: 10px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#join-create {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}